body{
    display: flex;
    flex-direction: column;
    background-image: url(back.png);
    background-size: 1320px, 624px;
    background-repeat:  no-repeat;
    align-items: center;
}
button{
    cursor: pointer;
    font-size: 4em;
    color: white;
    background: none;
    border: none;
    align-content: center;
}
#stt{
    left: 100%;
    top: 100%;
    transform: translate(-80%, -5%);
}
#pse{
    left: 100%;
    top: 100%;
    transform: translate(-11%, -13%);
}

#stp{
    left: 100%;
    top: 100%;
    transform: translate(50%, -10%);
}

h1{
    border-radius: 10px;
    margin-top:  1.5em;
    font-size: 9em;
}
